<%= content_for :page_title, 'Activity' %>

<% if @current_workout.present? %>
  <div class="w-full bg-green-100 flex flex-col justify-center items-center p-6">
    <h4 class='mb-4'>You have an ongoing workout!</h4>
    <%= link_to 'Resume', workout_path(@current_workout), class: 'btn-primary' %>
  </div>
<% end %>
<div class="page flex flex-col items-center justify-between mt-5 mb-6px-4">
  <ul>
    <% @workouts.each do |workout| %>
      <li><%= workout.start_time.to_s(:short) %></li>
    <% end %>
  </ul>
</div>
