<% if object.errors.any? %>
  <div class='bg-red-100 border-red-600 border-2 p-3 mb-4'>
    <h4 class="font-semibold mb-2">The form contains <%= pluralize(object.errors.count, 'error') %>:</h4>
    <ul>
      <% object.errors.full_messages.each do |message| %>
        <li class="italic"><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
