<%= link_to exercise_path, class: "block relative bg-white border-2 border-green-800 p-4 mb-4 hover:bg-gray-400 cursor-pointer transition-colors ease-out duration-150 last:mb-0" do %>
  <%= render_svg('icons/close', size: 'xsmall', class: 'fill-current text-green-900 absolute top-0 right-0 m-2 hover:bg-gray-500') %>
  <div class="flex flex-col">
    <div class="flex justify-between">
      <h2 class="text-2xl uppercase font-medium mb-2"><%= name %></h2>
    </div>
    <% if sets.present? %>
      <div class="flex flex-wrap">
        <% sets_data.each do |set| %>
          <%= render Workouts::SetSummaryComponent.new(exercise: exercise, **set) %>
        <% end %>
      </div>
    <% else %>
      <p>No sets added yet</p>
    <% end %>
  </div>
<% end %>
