<div class='flex flex-col items-center mr-4'>
  <div>
    <span class='text-3xl'><%= weight %></span>
    <% if set.weight.present? %>
      <span>kg</span>
    <% end %>
  </div>
  <span class='text-xs uppercase'><%= sets_and_reps %></span>
</div>
