<div class="flex flex-col border-2 border-green-800 bg-white w-full p-4 mb-4">
  <div class='flex justify-between'>
    <p><%= start_time %></p>
    <div class="flex">
      <p class='mr-2'>2km</p>
      <p class='mr-2'>843kg</p>
      <p>15 sets</p>
    </div>
  </div>
  <p class='text-xs'><%= duration %></p>
  <div class="flex flex-col mt-4">
    <div class="flex mb-1">
      <p class='text-lg w-1/2'>Row</p>
      <p class="w-1/2">2km</p>
    </div>
    <div class="flex mb-1">
      <p class='text-lg w-1/2'>Bench Press</p>
      <p class="w-1/2">5 sets, max 85 kg</p>
    </div>
    <div class="flex mb-1">
      <p class='text-lg w-1/2'>Dips</p>
      <p class="w-1/2">4 sets, 50 total</p>
    </div>
    <div class="flex">
      <p class='text-lg w-1/2'>Pushups</p>
      <p class="w-1/2">5 sets, 100 total</p>
    </div>
  </div>
</div>


